// import is need only if using scss variables
// not needed when using css variables
@import '../../palette.scss';

.button--base {
  --bg-color: #{$primary-900};
  // version with css variable:
  // --bg-color: var(--primary-900);
  // --border: none;
  // --border: 2px solid var(--color);
  --border-width: 0px;
  --color: var(--default);
  --font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  --width: 12rem;
  --height: 88px;

  --icon-size: 48px;

  background-color: var(--bg-color);
  border: var(--border-width) var(--color) solid;

  color: var(--color);
  font-family: var(--font-family);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  border-radius: 8px;

  width: var(--width);
  height: var(--height);

  svg {
    width: var(--icon-size);
    height: var(--icon-size);

    path {
      fill: var(--color);
    }
  }
}

.button--round {
  --width: var(--height);

  border-radius: 50%;
}

.button--square {
  --width: var(--height);
}

.button--disabled {
  --bg-color: gray;
  --color: lightgray;
}

.button--loading {
  --bg-color: var(--primary1-light);
}

.permission.permission--requested {
  --border-color: var(--warning);
  --border-width: 4px;

  border: var(--border-width) var(--border-color) solid;
}

.permission__icon {
  background-color: var(--bg-color);

  width: 24px;
  height: 24px;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 0 8px;

  text-wrap: nowrap;

  &.icon--requested {
    --bg-color: var(--warning);

    & svg {
      fill: var(--default);
      transform: rotate(90deg);
    }
  }

  &.icon--locked {
    --bg-color: var(--default);
  }

  & svg {
    width: 16px;
    height: 16px;

    position: relative;
  }

  & #icon_lock_svg__a {
    fill: var(--secondary1);
  }
}

.button--base.permission--requested,
.button--base.permission--locked {
  overflow: hidden;
}

.button--base.permission--requested {
  .permission__icon {
    top: calc(-1 * var(--border-width));
    right: calc(-1 * var(--border-width));
  }
}

.button--round.permission {
  overflow: visible;

  .permission__icon {
    top: 0;
    right: 0;

    border-radius: 50%;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }
}
