/* typography ====================================== */
:root {
  font-family: 'Open Sans', sans-serif;
}

/* heights ====================================== */

:root {
  --app-height: 100vh;
  --status-bar-height: 80px;
}

.app-container {
  height: var(--app-height);
  display: grid;
  grid-template-rows: var(--status-bar-height) auto;
}

.app-header {
  display: grid;
  align-items: center;
  padding: 0.25rem;

  grid-column: 1/2;
  grid-row: 1/2;
}

.panel-container {
  display: grid;

  grid-column: 1/2;
  grid-row: 2/3;
}

.dialog-presenter {
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 2;
}


/* grid and layout ====================================== */

.panel-container {
  display: grid;
}

.panel__left {
  padding: 0.25rem;

  max-height: calc(var(--app-height) - var(--status-bar-height));
  overflow: hidden;

  grid-column: 1/2;
  grid-row: 1/2;
}

.panel__right {
  visibility: hidden;

  max-height: calc(var(--app-height) - var(--status-bar-height));
  overflow: hidden;

  grid-column: 1/2;
  grid-row: 1/2;
}

.panel__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel__third {
  display: grid;
  grid-template-rows: calc(3rem + 2 * 0.25rem) 1fr;

  grid-column: 1/2;
  grid-row: 1/2;
  max-height: calc(var(--app-height) - var(--status-bar-height));

  /* position: relative;
  top: 2rem; */
}

.panel__third {
  visibility: hidden;
}

:root {
  --layout-tablet: 1fr 1fr;
  --layout-desktop: 1fr 1fr 1fr;
  --layout-wide: 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 768px) {
  .panel-container {
    /* display: grid; */
    grid-template-columns: var(--layout-desktop);
    grid-template-columns: var(--layout-wide);
    grid-template-columns: var(--layout-tablet);

    grid-template-rows: 1fr;
  }

  .panel__left {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .panel__right {
    visibility: visible;
    grid-column: 2/3;
    grid-row: 1/2;

    z-index: 1;
  }

  .panel__third {
    grid-column: 2/3;
    grid-row: 1/2;

    grid-template-rows: 1fr;

    z-index: 0;

    /* position: static;
    top: 0; */
  }
}

@media screen and (min-width: 1024px) {
  .panel-container {
    grid-template-columns: var(--layout-tablet);
    grid-template-columns: var(--layout-wide);
    grid-template-columns: var(--layout-desktop);
  }

  .panel__left {
    grid-column: 1/2;
  }

  .panel__right {
    grid-column: 3/5;
    grid-column: 2/3;
  }

  .panel__third {
    grid-column: 2/3;
    grid-column: 3/4;
  }
}

/* display ====================================== */

.panel-container {
  overflow: hidden;
}

/*  colors ====================================== */

.app-header {
  background-color: var(--primary);
  color: var(--secondary);
}

.panel__left {
  background-color: var(--status-bar-bg-color);
  background-color: var(--secondary);
  /* background-color: #5394e4; */
  color: var(--primary);
  /* color: var(--secondary); */
}

.panel__right {
  background-color: var(--default-background)
}

/* component styling ====================================== */

/* component states */