.with-click-indication {
  position: relative;

  // &::after {
  //   background-color: var(--button-clicked-before-bg);
  //   content: 'after';
  // }
}

.custom {
  flex-basis: 6rem;

  & .circle-wrapper {
    border-radius: 0.5rem;
  }
}

.circle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;
  &--disabled {
    width: 0;
    height: 0;
  }
}

.circle {
  background-color: var(--button-clicked-before-bg);
  border-radius: 50%;
  content: '';
  width: 5em;
  height: 5em;

  display: inline;
  position: absolute;
  // opacity: 0;
  pointer-events: none;
  transition-duration: 0.5s;
  transition-property: opacity, width, height;
  transition-timing-function: step-start;
  transition-timing-function: cubic-bezier(0, 0.94, 0, 1.02);
  // transition: translate 0.2s ease-in;
  transform: translate(-50%, -50%);
  // z-index: 1;

  &--disabled {
    // display: none;
    opacity: 0;
    // width: 0;
    // height: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  75% {
    transform: scale(50, 50);
    opacity: 0.5;
  }
  100% {
    transform: scale(200, 200);
    opacity: 0;
  }
}
