.react-click-indicator__container {
  position: relative;
}

.react-click-indicator {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__circle {
    background-color: var(--button-clicked-before-bg);
    border-radius: 50%;
    content: '';
    width: 5em;
    height: 5em;
    position: absolute;
    position: relative;

    width: 7rem;
    height: 7rem;

    transform: translate(-50%, -50%);

    transition-duration: 0.2s;
    transition-property: opacity, width, height;
    transition-timing-function: cubic-bezier(0, 0.94, 0, 1.02);

    &--disabled {
      width: 0;
      height: 0;
    }
  }
}

.list-selector__close--with-simple-close-indicator {
  position: absolute;
  right: calc(1.5rem + 4px);
  top: 2px;

  .list-selector__close {
    box-sizing: content-box;

    &:active::after {
      width: 1.5rem;
      height: 1.5rem;

      transition-duration: 0.2s;
      transition-property: opacity, width, height;
      // transition-timing-function: cubic-bezier(0, 0.94, 0, 1.02);
      transition-timing-function: ease-in;
    }

    &::after {
      background-color: var(--button-clicked-before-bg);
      border-radius: 50%;
      content: '';
      display: inline-block;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      width: 0;
      height: 0;
    }
  }
}

.add-list-button--with-simple-click-indicator {
  & .add-list-button {
    width: 6rem;
    overflow: hidden;
  }
}

.add-list-button--with-simple-click-indicator {
  .add-list-button {
    &:active::after {
      width: 7rem;
      height: 7rem;

      transition-duration: 0.2s;
      transition-property: opacity, width, height;
      // transition-timing-function: cubic-bezier(0, 0.94, 0, 1.02);
      transition-timing-function: ease-in;
    }

    &::after {
      background-color: var(--button-clicked-before-bg);
      border-radius: 50%;
      content: '';
      display: inline-block;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      width: 0;
      height: 0;
    }
  }
}

.list-selector__item--with-simple-click-indicator {
  & .list-selector__item {
    overflow: hidden;
    position: relative;
    width: 6rem;
  }
}

.list-selector__item--with-simple-click-indicator {
  & .list-selector__item {
    &:active::after {
      transition-duration: 0.2s;
      transition-property: opacity, width, height;
      // transition-timing-function: cubic-bezier(0, 0.94, 0, 1.02);
      transition-timing-function: ease-in;
    }

    &:active:not(:has(:active))::after {
      width: 7rem;
      height: 7rem;
    }

    &::after {
      background-color: var(--button-clicked-before-bg);
      border-radius: 50%;
      content: '';
      display: inline-block;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      width: 0;
      height: 0;
    }
  }
}

.item-tail--with-simple-click-indicator {
  & .item-tail {
    position: relative;
    overflow: hidden;

    &:active::after {
      transition-duration: 0.3s;
      transition-property: opacity, width, height;
      transition-timing-function: cubic-bezier(0, 0.94, 0, 1.02);
      // transition-timing-function: ease-in;
    }

    &:not(.item-tail--disabled):active::after {
      width: 15rem;
      height: 15rem;
    }

    &::after {
      background-color: var(--button-clicked-before-bg);
      border-radius: 50%;
      content: '';
      display: inline-block;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      width: 0;
      height: 0;
    }
  }
}

@mixin pressed-effect(
  $elementClassName,
  $circleBgColor,
  $circleWidth: 5rem,
  $circleHeight: 5rem,
  $animationName: tap_ripple_keyframes,
  $animationDuration: 500ms
) {
  &.active :not(.#{$elementClassName}--disabled)::after {
    width: $circleWidth;
    height: $circleHeight;
    animation: $animationName $animationDuration;
  }

  & .#{$elementClassName} {
    position: relative;
    overflow: hidden;
    // cursor default to disable default blue overlay that chrome displays on tap
    cursor: default;

    &::after {
      background-color: $circleBgColor;
      border-radius: 50%;
      content: '';
      display: inline-block;

      position: absolute;
      top: var(--top);
      left: var(--left);
      transform: translate(-50%, -50%);

      width: 0;
      height: 0;
    }
  }
}

@mixin ripple-effect(
  $elementClassName,
  $bgColor,
  $animationName: clicked_ripple_keyframes,
  $animationDuration: 600ms
) {
  & .#{$elementClassName} {
    position: relative;
    overflow: hidden;
    // cursor default to disable default blue overlay that chrome displays on tap
    cursor: default;
  }

  .ripple {
    border-radius: 50%;
    background-color: $bgColor;

    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translate(-50%, -50%);

    animation: $animationName $animationDuration;
  }
}

.item-tail--with-ripple-click-indicator {
  @include pressed-effect(item-tail, var(--button-clicked-before-bg));
  @include ripple-effect(item-tail, var(--button-clicked-before-bg));
}

@keyframes tap_ripple_keyframes {
  0% {
    width: 0;
    height: 0;
  }
}

@keyframes clicked_ripple_keyframes {
  0% {
    opacity: 1;
    width: 5rem;
    height: 5rem;
  }
  50% {
    width: 25rem;
    height: 25rem;
  }
  100% {
    opacity: 0;
  }
}
