.button--base {
  --_bg-color: var(--bg-color, #0053b8);
  --_color: var(--bg-color, #ffffff);
  --_font-family: var(--font-family, 'Open Sans', Arial, Helvetica, sans-serif);
  --_width: var(--width, 12rem);
  --_height: var(--height, 6rem);

  background-color: var(--_bg-color);
  color: var(--_color);
  font-family: var(--_font-family);

  display: flex;
  justify-content: center;
  align-items: center;

  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(3, 1fr);

  position: relative;
  border-radius: 8px;
  overflow: hidden;

  width: var(--_width);
  height: var(--_height);
}

.permission {
  border: 4px var(--border-color) solid;

  & .permission__icon {
    visibility: visible;
  }
}

.permission--locked {
  --border-color: lightgray;
  // --border-color: #ffffff4d;
}

.permission--requested {
  --border-color: #ff5e24;
}

.icon--locked {
  --bg-color: #ffffff;
  --border-color: #ffffff;
}

.icon--requested {
  --bg-color: #ff5e24;
}

.permission__icon {
  // width: 24px;
  // height: 24px;
  width: 20px;
  height: 20px;

  visibility: hidden;

  position: absolute;
  // top: -4px;
  // right: -4px;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 0 0 1px 2px;

  // border: 4px var(--border-color) solid;
  // border: 4px var(--_bg-color) solid;
  // border: 4px #ff5e24 solid;
  border-radius: 0 0 0 8px;
  // border-radius: 0 4px 0 8px;
  background-color: var(--bg-color);
  // background-color: #ff5e24;
}

.permission__icon {
  & #icon_lock_svg__a {
    fill: #202832;
  }
}

.permission__icon.icon--requested {
  & svg {
    fill: var(--_color);
    transform: rotate(90deg);
    // fill: var(--_color);
  }
}

.permission__icon {
  & svg {
    width: 16px;
    height: 16px;

    position: relative;
    top: -1px;
    right: -1px;
    // fill: var(--_color);
  }
}
