.button--base {
  --_bg-color: var(--bg-color, #0053b8);
  --_color: var(--color, #ffffff);
  --_font-family: var(--font-family, 'Open Sans', Arial, Helvetica, sans-serif);
  --_width: var(--width, 12rem);
  --_height: var(--height, 6rem);

  background-color: var(--_bg-color);
  color: var(--_color);
  font-family: var(--_font-family);

  display: flex;
  justify-content: center;
  align-items: center;

  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(3, 1fr);

  position: relative;
  border-radius: 8px;
  overflow: hidden;

  width: var(--_width);
  height: var(--_height);
}

.permission {
  border: var(--border-width) var(--border-color) solid;

  & .permission__icon {
    visibility: visible;
  }
}

.permission--locked {
  --border-color: lightgray;
  --border-width: 2px;
}

.permission--requested {
  --border-color: #ff5e24;
  --border-width: 4px;
}

.icon--locked {
  --bg-color: #ffffff;
  --border-color: #ffffff;
}

.icon--requested {
  --bg-color: #ff5e24;
}

.permission__icon {
  visibility: hidden;

  width: calc(24px - var(--border-width));
  height: calc(24px - var(--border-width));

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 0 8px;
  background-color: var(--bg-color);
}

.permission__icon {
  & #icon_lock_svg__a {
    fill: #202832;
  }
}

.permission__icon.icon--requested {
  & svg {
    fill: var(--_color);
    transform: rotate(90deg);
  }
}

.permission__icon {
  & svg {
    width: 16px;
    height: 16px;

    position: relative;
    top: -1px;
    right: -1px;
  }
}

.button--loading {
  --bg-color: rgb(0, 123, 224);
}

.button--disabled {
  --bg-color: gray;
  --color: lightgray;
}

.button--checkout {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
