// import is need only if using scss variables
// not needed when using css variables
@import '../../palette.scss';

.button--base {
  --_bg-color: var(--bg-color, #{$primary-900});
  // version with css variable:
  // --_bg-color: var(--bg-color, var(--primary-900));
  --_border: var(--border, 2px solid var(--_color));
  --_color: var(--color, var(--default));
  --_font-family: var(--font-family, 'Open Sans', Arial, Helvetica, sans-serif);
  --_width: var(--width, 12rem);
  --_height: var(--height, 88px);

  --_icon-size: var(--icon-size, 48px);

  background-color: var(--_bg-color);
  border: var(--_border);
  color: var(--_color);
  font-family: var(--_font-family);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  border-radius: 8px;
  overflow: hidden;

  width: var(--_width);
  height: var(--_height);

  svg {
    width: var(--_icon-size);
    height: var(--_icon-size);

    path {
      fill: var(--_color);
    }
  }

  @media (min-width: 1366px) and (max-width: 1920px) {
    --_height: var(--height, 100px);
  }

  &.button--round {
    --_width: var(--_height);

    border-radius: 50%;
  }

  &.button--square {
    --_width: var(--_height);
  }
}

.permission {
  border: var(--border-width) var(--border-color) solid;

  & .permission__icon {
    visibility: visible;
  }
}

.permission--locked {
  --border-color: lightgray;
  --border-width: 2px;
}

.permission--requested {
  --border-color: #ff5e24;
  --border-width: 4px;
}

.icon--locked {
  --bg-color: #ffffff;
  --border-color: #ffffff;
}

.icon--requested {
  --bg-color: #ff5e24;
}

.permission__icon {
  visibility: hidden;

  width: calc(24px - var(--border-width));
  height: calc(24px - var(--border-width));

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 0 8px;
  background-color: var(--bg-color);
}

.permission__icon {
  & #icon_lock_svg__a {
    fill: #202832;
  }
}

.permission__icon.icon--requested {
  & svg {
    fill: var(--_color);
    transform: rotate(90deg);
  }
}

.permission__icon {
  & svg {
    width: 16px;
    height: 16px;

    position: relative;
    top: -1px;
    right: -1px;
  }
}

.button--loading {
  --bg-color: rgb(0, 123, 224);
}

.button--disabled {
  --bg-color: gray;
  --color: lightgray;
}
