.quantity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;

  &__button--change {
    border: solid 2px;
    border-color: #6b7785;
    border-radius: 5px;
    color: #6b7785;
    width: 34px;
    height: 34px;
    overflow: hidden;
  }
  &__value {
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
      0 1px 3px 0 rgba(0, 0, 0, 0.2);
    width: 32px;
    height: 32px;
  }

  &__button--change,
  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.quantity__button--change.use-ripple {
  --ripple-color: rgba(0, 0, 0, 0.4);
}
