.clickable-area {
  --ca-bg-color: var(--neutral-50);

  background-color: var(--ca-bg-color);

  border: none;
  border-radius: 0.5rem;

  color: var(--neutral-900);

  /* width: 64px;
  height: 32px; */
}
