.ripple_[data-state='pressed']:after {
  visibility: visible;
  animation-name: pressed_;
}

.ripple_[data-state='clicked']:after {
  animation-name: ripple_;
}

@keyframes pressed_ {
  from {
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes ripple_ {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translate(-50%, -50%) scale(var(--ripple-size));
    opacity: 0;
  }
}

.ripple_ {
  --duration: 0.4s;
  --ripple-color: rgba(0, 0, 0, 0.4);
  --size: 48px;
  --ripple-size: 5;

  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    content: ' ';
    left: var(--x, 0);
    top: var(--y, 0);
    transform: translate(-50%, -50%) scale(0);

    background-color: var(--ripple-color);
    border-radius: 50%;
    width: var(--size);
    height: var(--size);

    opacity: 0;
    visibility: hidden;

    animation-duration: var(--duration);
    animation-fill-mode: both;
  }
}

//==================================

[data-state='pressed'] {
  &.ripple > :after {
    animation-name: pressed;
    visibility: visible;
  }
}

[data-state='clicked'] {
  &.ripple > :after {
    animation-name: ripple;
  }
}

.ripple {
  --duration: 0.5s;
  --ripple-color: rgba(0, 0, 0, 0.4);
  --size: 48px;
  --ripple-size: 5;

  > * {
    overflow: hidden;
    position: relative;
  }

  & > :after {
    position: absolute;
    content: ' ';
    left: var(--x, 0);
    top: var(--y, 0);

    background-color: var(--ripple-color);
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    opacity: 0;
    visibility: hidden;

    animation-duration: var(--duration);
    animation-fill-mode: both;
  }
}

@keyframes pressed {
  from {
    transform: translate(-50%, -50%) scale(0);
    visibility: visible;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes ripple {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translate(-50%, -50%) scale(var(--ripple-size));
    opacity: 0;
    visibility: hidden;
  }
}
