.app {
  height: 100vh;

  display: grid;
  grid-template-rows: 10% 60% 25%;

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;

    padding: 8px;
  }
}
