@import url('../../src/index.css');
@import url('../../uiComponents/index.css');

:root {
  background-color: #cadbeb;
  /* override */
  --ca-bg-color: var(--neutral-neutral-0);
}

.presentation-container {
  /* layout */
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.row-header {
  grid-column: 1 / 5;
}