//==================================================
// ripple effect

@property --ripple-size {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --ripple-color {
  syntax: '<color>';
  inherits: false;
  // initial-value: red;
}

@property --x {
  syntax: '<number>';
  inherits: false;
  // initial-value: 0;
}

@property --y {
  syntax: '<number>';
  inherits: false;
  // initial-value: 0;
}

.use-ripple {
  --ripple-duration: 0.3s;
  --ripple-size: 0;
  --ripple-color: rgba(255, 255, 255, 0.48);
  // --ripple-color: red;

  animation-name: use-ripple__ripple;
  animation-duration: var(--ripple-duration);
  animation-fill-mode: both;

  background-image: radial-gradient(
    circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
    var(--ripple-color) 0% calc(var(--ripple-size) * 50%),
    transparent calc(var(--ripple-size) * 50%) 100%
  );

  &:active {
    animation-name: use-ripple__pressed;
    animation-duration: var(--ripple-duration);
  }
}

@keyframes use-ripple__pressed {
  from {
  }
  to {
    --ripple-size: 1;
  }
}

@keyframes use-ripple__ripple {
  from {
    --ripple-size: 1;
  }
  to {
    --ripple-size: 3;
    --ripple-color: transparent;
  }
}
