.add-item {
  background-color: var(--app-text-color-lightest);
  border-radius: 0.625rem;
  padding: 0.5rem;
  & button {
    color: var(--app-text-color);
  }

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.items-container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider-bg-color);
}

.item-tail--with-click-indicator {
  width: 9rem;
  height: 9.5rem;

  & .item-tail {
    position: relative;
    overflow: hidden;
  }

  & .react-click-indicator__circle {
    width: 9rem;
    height: 9rem;

    &--disabled {
      width: 0;
      height: 0;
    }
  }
}
