@import './clickIndication/rippleClickIndication/RippleClickIndicator.scss';

:root {
  --tabs-add-button-color: #000000;
  --tab-border-color: #e4e9f0;
}

.simple-button {
  --_bg-color: var(--bg-color);
  --_border-radius: var(--border-radius);
  --_width: var(--width);
  --_height: var(--height);

  background-color: var(--_bg-color);
  border-radius: var(--_border-radius);

  width: var(--_width);
  height: var(--_height);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.create-basket {
  &__button.simple-button {
    --bg-color: white;
    --border-radius: 0.5rem;
    --height: 3rem;

    font-size: 2rem;
    font-weight: 100;

    border-color: var(--tab-border-color);
    border-left-width: 1px;
    border-left-style: solid;
  }

  &__spinner {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
