.list-selector {
  border-radius: 0.5rem;

  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;

  &__item {
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    // position: relative;

    flex-basis: 6rem;

    display: flex;
    justify-content: center;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
      0 1px 3px 0 rgba(0, 0, 0, 0.2);

    &--selected {
      background-color: var(--app-text-color-lightest);
    }

    &--disabled {
      color: var(--button-disabled);
    }
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 0.5rem;
    height: 0.5rem;

    position: absolute;
    right: 1rem;
    top: calc(50% - 1.414 * 0.25rem / 2);

    transform: rotate(45deg);
  }
}

.add-list-button {
  background-color: var(--app-text-color-lightest);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  position: relative;

  flex-basis: 6rem;

  display: flex;
  justify-content: center;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);

  &--disabled {
    background-color: var(--app-bg-color);
    color: var(--button-disabled);
  }
}

.add-list-button--with-click-indicator {
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 6rem;
}

.list-selector__item--with-react-click-indicator {
  width: 6rem;

  & .list-selector__item {
    position: relative;
    overflow: hidden;
  }
}
