/* layout */
.close-btn {
  height: 64px;
  min-width: 64px;

  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;

  /* 
  position
  box-sizing
  display
  height
  margin
  width
  padding
  width 
  */
}

.close-btn::before {
  /* position: absolute; */
  width: 24px;
  height: 24px;
}

/* text */
.close-btn {}

/* appearance */
.close-btn {
  background-color: var(--color-surface-surface-default);
  border: none;
  /* border: 2px solid var(--color-outline-outline); */
  box-shadow: var(--elevation-01dp);
}

.close-btn::before {
  background-color: var(--functional-error-900);
}

/* other */
.close-btn {
  border-radius: 0.5rem;
}

.close-btn::before {
  mask: url("../../../icons/close.svg") center no-repeat;
}

/* generated */
.close-btn::before {
  content: "";
}

/* pulse effect */
.pulse {
  overflow: hidden;
  position: relative;

  .pulse__element {
    width: 32px;
    height: 32px;
    background-color: aqua;
    border-radius: 50%;

    position: absolute;
    left: var(--x, 0);
    top: var(--y, 0);
    visibility: hidden;
  }
}