.menus-presenter-container {
  --transition-duration: 300ms;

  --neutral-25: #f2f4f8;
  /* --neutral-25: #87a8ebe1; */
  /* --neutral-25: #aab0bd; */
  --menu-bg-color: #bec4d2;
  /* --menu-bg-color: var(--neutral-25); */

  --color-light: var(--neutral-25);

  --shadow-color-0: rgba(0, 0, 0, 0.2);
  --shadow-color-1: rgba(0, 0, 0, 0.12);
  --shadow-color-2: rgba(0, 0, 0, 0.14);

  --elevation-24pd:
    0rem 0.6875rem 0.9375rem 0rem var(--shadow-color-0),
    0rem 0.5625rem 2.875rem 0rem var(--shadow-color-1),
    0rem 1.5rem 2.375rem 0rem var(--shadow-color-2);
}

.menus-presenter-container {
  display: grid;
  /* padding: 0 0 0 0.25rem; */
  overflow: hidden;
}

.menus-presenter-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

@media screen and (min-width: 768px) {
  .menus-presenter-container {
    grid-row: 1/2;
  }
}

.menu {
  padding: 0.25rem;
}

/* placement in the grid */
.menu {
  grid-column: 1/2;
  grid-row: 1/2;
}

/* visibility */
.menus-presenter-container {
  visibility: hidden;
}

.menus-presenter-container[data-isopen="true"] {
  visibility: visible;
}

.menu {
  visibility: hidden;
}

.menu[data-isopen="true"] {
  visibility: visible;
}

/* appearence */
.menus-presenter-container {
  background-color: var(--menu-bg-color);
  box-shadow: var(--elevation-24pd);
}

.menu {
  background-color: var(--menu-bg-color);
}

/* animations */
.menus-presenter-container {
  transition: visibility var(--transition-duration);
}

.menus-presenter-container {
  animation: slideout var(--transition-duration) ease-in-out;
}

.menus-presenter-container[data-isopen="true"] {
  animation: slidein var(--transition-duration) ease-in-out;
}

/* animation keyframes */
@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
