:root {
  --default: #ffffff;
  --primary-900: #0053b8;
  --primary1-light: #0066ba;
  --secondary1: #202832;
  --warning: #ff5e24;
}

$primary1: #0058a1;
$primary2: #bf1d35;
$primary3: #590d82;
$secondary1: #202832;
$secondary2: #6b7785;
$secondary3: #e4e9f0;
$secondary4: #8a939e;
$accent1: #0053b8;
$accent2: #0053b8;
$accent3: #ff5e24;
$default: #ffffff;
$emergency: #b20136;
$error: #b30006;
$success: #1fab03;
$warning: #ff5e24;
$contrast: #000000;
$none: none;
$primary1-dark: #004985;
$primary1-light: #0066ba;
$primary-variant-900: #00498529;
$secondary1-light: #3a4b5a;
$secondary2-lighter: #aab2bb;
$secondary2-light: #97a0ab;
$secondary2-light-bleached: #73787d;
$secondary3-dark: #dde4ec;
$secondary4-light: #a6adb5;
$accent1-light: #005ac7;
$accent1-dark: #1655a2;
$accent2-light: #0954af;
$accent2-lighter: #7bb6ff;
$accent2-pale: #1f84ff;
$error-light: #f00008;
$error-bright-dark: #872c2f;
$success-dark: #146f02;
$warning-light: #ff9a76;
$default-dark: #f7f7f7;
$default-darker: #ededed;
$contrast-lighter: #303030;
$contrast-lightest: #737373;
$app-overlay-50: #00000080;
$app-overlay-15: 000000026;
$app-overlay-60: #00000099;
$app-overlay-80: #ffffffcc;
$accent2-60: #0b78ff99;
$secondary3-50: #e4e9f080;
$secondary3-25: #e4e9f040;
$secondary1-95: #2a3641f2;
$default-10: #ffffff1a;
$default-30: #ffffff4d;
$default-70: #ffffffb3;
$warning-10: #f49d1f1a;
$emergency-5: #e301430d;
$neutral-700: #4f5863;
$secondary1: #2a3641;
$neutral-50-opacity-24: #e4e9f03d;
$neutral-50-opacity-48: #e4e9f07a;
$neutral-50: #e4e9f0;
$neutral-100: #c5cad1;
$neutral-400: #8a939e;
$primary-900: #0053b8;
$transparent: #ffffff00;
