.main-panel-layout {
  color: var(--app-text-color);
  padding: 0.625rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.625rem;

  position: relative;
  height: 100%;
  overflow-y: auto;

  &__left {
  }
  &__right {
    order: -1;

    // background-color: var(--app-text-color-lightest);
    // border-radius: 0.625rem;
    // padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .main-panel-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__left {
      grid-column: 1/2;
    }
    &__right {
      grid-column: 2/3;
      order: initial;

      display: flex;
    }
  }
}
