.item-tail {
  width: 9rem;
  height: 9.5rem;

  border-radius: 0.25rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

  cursor: default;

  &__picture {
    flex-basis: 5rem;
  }

  &__caption {
    flex-grow: 1;

    display: flex;

    justify-content: center;
    align-items: center;
  }

  &--disabled {
    color: var(--button-disabled);

    & .divider {
      background-color: var(--button-disabled);
    }
  }
}
