// import is need only if using scss variables
// not needed when using css variables
@import '../../palette.scss';

.button--quick-card {
  --button-checkout-more-bg-color: #{$default};
  --button-checkout-more-border-color: var(--primary-900);
}

.button--quick-card {
  --bg-color: var(--button-checkout-more-bg-color);
  --color: var(--button-checkout-more-border-color);
  --ripple-color: gray;
}
