html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --status-panel-bg-color: #0058a1;
}
