.main-panel {
  color: var(--app-text-color);
  padding: 0.75rem;
}

.todo-list {
  // h3 {
  //   color: var(--app-text-color);
  // }
}

.add-todo {
  button {
    color: var(--app-text-color);
  }
}

.submit-button {
  cursor: pointer;
  display: inline-block;
  position: relative;

  &:before {
    background-color: var(--button-clicked-before-bg);
    border-radius: 50%;
    content: ' ';
    width: 2em;
    height: 2em;
    transform: translate(25%, -25%);
  }

  &:active {
    &::before {
      display: inline;
      position: absolute;
    }
  }

  &--disabled {
    color: var(--button-disabled);
  }
}
